:root {
    --bg-color: #231a21;
    --nav-color: #352931;
    --light-text-color: #f3efe0;
    --dark-text-color: #1e2019;
    --button-color: #565264;
    --btn-disabled: #bfacaa;
    --btn-save: #578d3e;
    --btn-cancel: #da535e;
}

html, body {
    min-width: 320px;
    height: 100%;
    background: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background: var(--nav-color);
    color: var(--light-text-color);
    padding: 0 2rem;
    -webkit-box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    z-index: 5;
}

.navbar {
    display: flex;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

button {
    color: var(--light-text-color);
    font-size: 0.9rem;
    vertical-align: middle;
    background-color: var(--button-color);
    padding: 6px;
    border-radius: 5px;
}

img {
    display: block;
    pointer-events: none;
}

.nav-link {
    margin-right: 0.6rem;
}

.menu-panel {
    width: 305px;
    position: fixed;
    height: calc(100vh - 45px);
    top: 45px;
    background: var(--nav-color);
    padding: 0.5rem 2rem 1.5rem;
    -webkit-box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    animation: slidein 0.3s;
    overflow-y: auto;
}

.menu-panel ul {
    margin-bottom: 0.8rem;
}

.slidein {
    animation: slidein 0.3s;
}

@keyframes slidein {
    from {
        left: -305px;
    }

    to {
        left: 0;
    }

}

.project-card {
    display: flex;
    align-items: center;
    width: 240px;
    height: 40px;
    color: var(--light-text-color);
}

li {
    cursor: pointer;
}

.project-card p {
    width: 190px;
    font-size: 0.9rem;
    margin-top: 2px;
}

.project-card button, form button {
    margin-left: 0.5rem;
}

.new-project-btn {
    padding: 0.4rem;
    align-items: center;
}

.new-project-btn p {
    margin: 0 0.2rem 0 0;
    color: var(--light-text-color);
    color: #c5c5c5;
    display: flex;
}

.new-project-btn img {
    display: inline;
    margin-right: 0.2rem;
}

input[type=text] {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 168px;
    background-color: var(--light-text-color);
}

button[type=submit] {
    background-color: var(--btn-save);
}

button[type=reset] {
    background-color: var(--btn-cancel);
}

button:disabled {
    background-color: var(--btn-disabled);
}

.menu-panel form {
    display: flex;
    align-items: center;
}

