:root {
    --bg-color: #231a21;
    --nav-color: #352931;
    --light-text-color: #f3efe0;
    --dark-text-color: #1e2019;
    --button-color: #565264;
    --button-hover: #69647c;
    --btn-disabled: #bfacaa;
    --btn-save: #578d3e;
    --save-hover: #68a84b;
    --btn-cancel: #da535e;
    --cancel-hover: #f16672;
}

html, body {
    min-width: 320px;
    background: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}

#container {
    display: flex;
}

#underlayer {
    width: 0px;
    flex-shrink: 0;
}


@media (max-width: 550px) {
    #underlayer {
        display: none;
    }
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background: var(--nav-color);
    color: var(--light-text-color);
    padding: 0 2rem;
    -webkit-box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    z-index: 5;
}

.navbar {
    display: flex;
}

.nav-link {
    margin-right: 0.6rem;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

button {
    color: var(--light-text-color);
    font-size: 0.9rem;
    vertical-align: middle;
    background-color: var(--button-color);
    padding: 6px;
    border-radius: 5px;
}

button:hover, button:active {
    background-color: var(--button-hover);
}

img {
    display: block;
    pointer-events: none;
}

.menu-panel {
    width: 305px;
    position: fixed;
    height: calc(100vh - 45px);
    top: 45px;
    background: var(--nav-color);
    padding: 0.5rem 2rem 1.5rem;
    -webkit-box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    overflow-y: auto;
    z-index: 4;
}

.menu-panel ul {
    margin-bottom: 0.8rem;
}

li {
    cursor: pointer;
}

.project-card {
    display: flex;
    align-items: center;
    width: 240px;
    height: 40px;
    color: var(--btn-disabled);
}

.project-card:hover, .project-card:active {
    color: var(--light-text-color);
}

.selected-project {
    color: var(--light-text-color);
}

.selected-project:before {
    content: '';
    height: 10px;
    width: 10px;
}

.project-card p {
    width: 190px;
    font-size: 0.9rem;
    margin-top: 2px;
}

.project-card button, form button {
    margin-left: 0.5rem;
}

.new-project-btn, .new-task-btn {
    padding: 0.4rem;
    align-items: center;
}

.new-project-btn p, .new-task-btn p {
    margin: 0 0.2rem 0 0;
    color: var(--light-text-color);
    display: flex;
}

.new-project-btn img, .new-task-btn img {
    display: inline;
    margin-right: 0.2rem;
}

input[type=text], textarea, select, input[type=date] {
    border-radius: 5px;
    border: none;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 168px;
    background-color: var(--light-text-color);
}

button[type=submit] {
    background-color: var(--btn-save);
}

button[type=reset] {
    background-color: var(--btn-cancel);
}

button[type=submit]:hover, button[type=submit]:active {
    background-color: var(--save-hover);
}

button[type=reset]:hover, button[type=reset]:active {
    background-color: var(--cancel-hover);
}


button:disabled, button:disabled:hover, button:disabled:active {
    background-color: var(--btn-disabled);
}

.menu-panel form {
    display: flex;
    align-items: center;
}

form[name='edit-project'], .task-form {
    z-index: 10;
    position: absolute;
    background-color: var(--nav-color);
    top: 30%;
    left: 50%;
    padding: 1.5rem;
    width: 300px;
    height: 110px;
    text-align: center;
    margin-left: -150px;
    border-radius: 5px;
}

h2 {
    font-family: inherit;
    color: var(--light-text-color);
    margin-bottom: 0.8rem
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 8;
    position: absolute;
    top: 0;
}

.task-list {
    width: 100%;
    max-width: 900px;
    margin: 45px auto;
    padding: 1rem 2rem;
    font-size: 0.9rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 1rem 0;
}

.task-card {
    width: 100%;
    display: flex;
    background-color: transparent;
    color: var(--light-text-color);
    position: relative;
  
}

.high-priority {
    border: 1px solid #da535e;
}

.medium-priority {
    border: 1px solid #ffe345;
}

.low-priority {
    border: 1px solid #578d3e;
}

.expand-btn, .collapse-btn {
    background: none;
    border: none;
}

.expand-btn:hover, .collapse-btn:hover, 
.expand-btn:active, .collapse-btn:active {
    background: none;
}

.collapse-btn img {
    transform: rotate(180deg);
}

.task-info {
    font-size: 0.7rem;
}

.task-card > div {
    padding : 1rem 0;
    flex-grow: 1;
}

.task-card p {
    margin: 0;
}

.task-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}


input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--light-text-color);
    border-radius: 5px;
    align-self: center;
    margin: 1rem;
}

label:hover, input[type="checkbox"]:checked + label {
    background: center no-repeat url('../dist/assets/check.svg'),
                var(--light-text-color);
}

.expanded-info-container {
    padding: 0 52px 1.5rem 28px;
    color: var(--light-text-color);
}

.expanded-info-container p {
    margin-bottom: 0.5rem;
}

.expanded-info-container .edit {
    display: block;
    margin-top: 0.4em;
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
    border-bottom: 1px solid currentColor;
    font-size: 0.7rem;
    color: var(--btn-disabled);
}

.expanded-info-container .edit:hover, .expanded-info-container .edit:active {
    color: var(--light-text-color);
}

.task-project-info {
    padding: 0.4rem;
    margin: 0;
    background: var(--button-color);
    display: inline-block;
    border-radius: 5px;
    font-size: 0.7rem;
}

.task-form {
    height: auto;
    text-align: center;
    top: 15%;
}
 
.task-form input, textarea, select {
    width: 100%;
    margin: 0 auto 0.9rem;
    display: block;
}

.task-form p {
    color: var(--light-text-color);
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
}

textarea {
    resize: none;
}

svg {
    stroke: green;
}

