:root {
    --nav-color: #5b5656;
    --text-color: #f5eaea;
    --bg-color: #4d4646;
    --accent: #ee8572;
}

html, body {
    min-width: 320px;
    height: 100%;
    background: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background: var(--nav-color);
    color: white;
    padding: 0 2rem;
    -webkit-box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    box-shadow: 0px -10px 32px -1px rgba(0,0,0,0.3);
    z-index: 5;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

button {
    color: var(--text-color);
    font-size: 1.2rem;
    vertical-align: middle;
}

img {
    display: block;
}

.nav-link {
    margin-right: 0.6rem;
}

.menu-panel {
    width: 305px;
    position: fixed;
    height: calc(100vh - 45px);
    top: 45px;
    background: var(--nav-color);
    padding: 0 2rem 1.5rem;
    -webkit-box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    box-shadow: 9px 4px 24px -25px rgba(0,0,0,0.3);
    animation: slidein 0.3s;
    overflow-y: auto;
}

.slidein {
    animation: slidein 0.3s;
}

@keyframes slidein {
    from {
        left: -305px;
    }

    to {
        left: 0;
    }

}

.slideout {
    animation: slideout 0.3s;
}

@keyframes slideout {
    from {
        left: 0;
    }

    to {
        left: -305px;
    }
}

.project-card {
    display: flex;
    align-items: flex-end;
    width: 240px;
    height: 40px;
    color: var(--text-color);
}

.project-card p {
    width: 190px;
    font-size: 0.9rem;
}

.project-card button {
    margin-left: 0.5rem;
}
